
.container {
  margin-top: 2em;
  padding-bottom: 5em;
  width: 100%;
}
.container2 {
  padding-bottom: 5em;
  width: 100%;
}
.nm{
  margin: 0;
}
.polygon{
  clip-path:
    polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 25px),
        0% 100%
    );
}
.buttons{
  margin-top: 1%;
  display: inline-flex;
  justify-content: flex-start;
  gap: 20px;
}

.parteI {
  width: 380px;
  float: left;

}

.parteD {
  margin-left: 400px;
}
.row {
  padding-left: 10%;
  padding-right: 5%;
}

.h4 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 1.7em;
}
.h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  color: #0d0d0d;
}

.h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5em;
  margin-bottom: 20px;
  color: #d9376e;
}
section {
  background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("/assets/img/animal7.jpg") !important;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      height: 200px;
      clip-path:
      polygon(
          0% 0%,
          100% 0%,
          100% calc(100% - 25px),
          0% 100%
      );
}
.centrar{
  text-align: center;

}
.toR{
  text-align: end;
}
.globo{
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: #0d0d0d;
  text-emphasis-color: #ffffff;
  border-radius: var(--borde);
  padding: var(--borde);
  --borde: 1em;
  font-family: Verdana;
  z-index: 1;
  background-color: #ff8e3c;
  opacity: 0.9;
  filter: drop-shadow(0px 0px 1px black) ;
}

.globo.pos{
  width: 45%;
  margin-top: 10%;
  transform: translateX(-100px);
}
@media screen and (max-width: 769px) {
  .globo{
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #0d0d0d;
    border-radius: var(--borde);
    padding: var(--borde);
    --borde: 1em;
    font-family: sans-serif;
    z-index: -1;
    background-color: #ff8e3c;
    opacity: 0.9;
    filter: drop-shadow(0px 0px 1px black) ;
  }

  .globo.pos{
    height: 80px;
    margin-top: 10%;
    margin-left: 30%;
    transform: translateX(0px);
  }
  .h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
}

}

.globo::before{
  content: '';
  position: absolute;
  z-index: -1;
  width: var(--colita);
  height: var(--colita);
}
.globo.abajo-izquierda::before{
  --colita: 50px;
  left: 10px;
  bottom: calc( var(--colita) / -1.5);
  border-radius: 0 0 10em 0;
  box-shadow:
    inset calc(var(--colita)/-3) calc(var(--colita)/4) 0 0 #ff8e3c;
  opacity: 0.9;
}


.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}


::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }
  .p-card {
    background-color: #ff8e3c;
    color: #0d0d0d;
    font-size: 15px;
  }
}

$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-orange: #ff8e3c !default;
$main-orange-rgb-015: #ff8d3c1a !default;

/* This pen */
body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}



.light {
  background: #f3f5f7;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,	.h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }
  .postcard__title2 {
    font-size: 1.75rem;
    padding-left: 1%;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit:scale-down;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:start;
    font-size: 23px;
    height: 100%;
  }


  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .postcard__subtitle{
      padding-left: 1%;
    }
    .postcard__preview-txt2 {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align:start;
      font-size: 20px;
      height: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

/* COLORES */

.orange .postcard__title:hover {
  color: $main-orange;
}
.orange .postcard__bar {
  background-color: $main-orange;
}
.orange::before {
  background-image: linear-gradient(-30deg, $main-orange-rgb-015, transparent 50%);
}
.orange:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-orange-rgb-015, transparent 50%);
}


.red .postcard__title:hover {
  color: $main-red;
}
.red .postcard__bar {
  background-color: $main-red;
}
.red::before {
  background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

@media screen and (min-width: 769px) {
  .orange::before {
    background-image: linear-gradient(
        -80deg,
        $main-orange-rgb-015,
        transparent 50%
    );
  }
  .orange:nth-child(2n)::before {
    background-image: linear-gradient(80deg, $main-orange-rgb-015, transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
  }

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


