<div class="masthead">
    <div class="container-h-100">
        <div class="row h-100 align-items-center">
            <div class="col text-center">
                <h1 class="fw-light">Fundación Adogtame Curicó</h1>
                <p class="lead">«Con tus acciones escribes mi destino, respetando mi vida o ignorando mi sufrimiento»</p>
                <!-- <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Adopta a un amigo</a>
                    <a class="btn btn-outline-light btn-lg px-4" href="#!">Ayudanos con un donativo</a>
                </div> -->
            </div>
        </div>
    </div>
</div>