.cardTabla {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    max-width: 1200px;
    width: auto;
    margin: auto auto;
  }
  
  .modal {
    text-align: left;
  }
  