<div class="cardsL">
    <div class="col-md-4 col-xs-6">
      <a (click)="navegarHacia('mascotas')">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image1981.png');"></div>
        <div class="tituloCards">Adopción</div>
      </a>
    </div>

    <div class="col-md-4">
      <a (click)="navegarHacia('/mascotas')">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image886.png');"></div>
        <div class="tituloCards">Mascotas Perdidas</div>
      </a>
    </div>

    <div class="col-md-4">
        <a (click)="navegarHacia('/eventos')">
            <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image6.png');"></div>
            <h4 class="tituloCards">Eventos</h4>
        </a>
    </div>

    <div class="col-md-4">
        <a (click)="navegarHacia('/educacion')">
            <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image1521.png');"> </div>
            <h4 class="tituloCards">Portal Educación</h4>
        </a>
    </div>

    <div class="col-md-4">
        <a (click)="navegarHacia('/donar')">
            <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image1981.png');"></div>
            <h4 class="tituloCards">Aportes</h4>
        </a>
    </div>

    <div class="col-md-4">
        <a (click)="navegarHacia('/veterinarios-activos')">
            <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/Image771.png');"></div>
            <h4 class="tituloCards">Veterinarias Cercanas</h4>
        </a>
    </div>
</div>
