<div class="card" style="justify-content: center; padding-top: 3%; padding-bottom: 3%; padding-right: 3%; padding-left: 3%">
  <app-steps-carousel-home [folderName]="folderName" [listOfImages]="listOfImages"></app-steps-carousel-home>
</div>

<!--<p-dialog header="Imagenes Subidas" [(visible)]="displayCarousel" [style]="{width: '80vw'}" [modal]="true" [maximizable]="false"
          [draggable]="false" [closable]="false" [resizable]="false">
  <app-carousel-mascotas [folderName]="folderName" [imagesList]="listOfImages" ></app-carousel-mascotas>
</p-dialog>-->
