<!--portada-->
<div style="padding-top: 0.5%;">
  <app-galeriamascotas></app-galeriamascotas>
</div>
<!--Servicios Home-->
<app-servicioshome></app-servicioshome>
<!-- Servicios Home-->

<!--portada-->

<!-- <main>
  <section class="wrapper">
    <h2 class="titulo">Contenido</h2>
    <div class="container" style="text-align: center">
      <div class="row cardsL">
        <div class="col-md-4">
          <a (click)="navegarHacia('mascotas')">
            <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/perro1.jpeg');">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body" href="">
                  <small class="card-meta mb-2">Mascotas </small>
                  <h4 class="card-title mt-0 ">Revisa las mascotas para adoptar</h4>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Puedes visitarnos en</h6>
                      <small>Av. Circunvalación 575, Curicó</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a (click)="navegarHacia('mascotas-perdidas')">
            <div class="card text-white card-has-bg click-col"
                 style="background-image:url('/assets/img/nutricion-animal.jpg');">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Mascotas perdidas</small>
                  <h4 class="card-title mt-0 ">Revisa las mascotas que han sido reportadas como perdidas</h4>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Para reportar una mascota</h6>
                      <small>comunicate con nosotros: adogtame@gmail.com</small>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </a>
        </div>
        <div class="col-md-4">
          <div class="card text-white card-has-bg click-col"
               style="background-image:url('/assets/img/perro-gato.jpg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Nuestros eventos</small>
                <h4 class="card-title mt-0 ">Revisa nuestros próximos eventos como fundación</h4>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Puedes visitarnos en</h6>
                    <small>Av. Circunvalación 575, Curicó</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/perro1.jpeg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Aprende con nosotros</small>
                <h4 class="card-title mt-0 ">Visita nuestro portal de educación para aprender más sobre tus mascotas</h4>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Puedes visitarnos en</h6>
                    <small>Av. Circunvalación 575, Curicó</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/perro1.jpeg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Donaciones</small>
                <h4 class="card-title mt-0 ">Puedes ayudarnos realizando una donación</h4>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Haz click aquí</h6>
                    <small>y te indicaremos como dar tu aporte</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white card-has-bg click-col" style="background-image:url('/assets/img/perro1.jpeg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Quienes somos</small>
                <h4 class="card-title mt-0 ">Informate sobre la fundación Adogtame</h4>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Comunicate con nosotros</h6>
                    <small>contactanos en: : adogtame@gmail.com</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- </main> -->

  <div style="padding-top: 3%">
    <h2 class="titulo">Casos urgentes de adopción</h2>
    <app-ultimos-casos-home></app-ultimos-casos-home>
  </div>


  <!--Eventos home-->
  <!-- <app-eventohome></app-eventohome> -->
  <!--Eventos home-->

  <!--Educacion home-->
  <!-- <app-educacionhome></app-educacionhome> -->
  <!--Eventos home-->


