
    <div class="container2">
        <div class="container py-2">
    
            <article class="postcard light red">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="/assets/img/icon/logo_fundacion.png" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a>Inicios Adogtame</a></h1>
                    <div class="postcard__subtitle small">
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        Creada en Curicó con distintos fundadores uno de los principales de ellos es la profesora Karina Garate quien también era partícipe de la protectora de 
                        animales San Francisco de Curicó tomó el cargo de presidenta de la agrupación desde el inicio
                    </div>
                </div>
            </article>
            <article class="postcard light orange">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="assets/Somos/inicio.jpg"alt="Image Title" />	
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title orange"><a>Nuestra Misión</a></h1>
                    <div class="postcard__subtitle small">
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Amor por los animales, rehabilitación médica y emocional de cada uno, difundiendo un mensaje de amor y respeto. <br>
                     "Con tus acciones escribes mi destino, respetando o ignorando mi sufrimiento"
                    </div>
                </div>
            </article>
            <article class="postcard light red">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="assets/Somos/donaciones.png"alt="Image Title" />	
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a>Sin fines de lucro</a></h1>
                    <div class="postcard__subtitle small">
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Nuestra fundación funciona sin fines de lucro, por lo que es sustentada a través de aportes voluntarios, rifas, donaciones de dinero, 
                        alimentos, cobijas y medicamentos. A través de socios conmovidos por la ardua labor que se realiza en cada acto de amor a los “hermanos menores”, los animales.</div>
                </div>
            </article>
            <article class="postcard light orange">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="assets/Somos/temporal.jpg" alt="Image Title" />
                </a>

                <div class="postcard__text t-dark">
                    <h1 class="postcard__title orange"><a>Hogares temporales</a></h1>
                    <div class="postcard__subtitle small">
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        Conseguir hogares temporales es una tarea muy importante 
                        pues sin ellos no pueden tomar casos. Todos los días se encuentran animalitos en situación calle, ya sean caninos o felinos,
                        es una tarea muy importante dentro del proceso de rescate del animalito.
                    </div>
                </div>
            </article>
            <article class="postcard light red">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="assets/Somos/Vet.jpg" alt="Image Title" />	
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a>Luego del rescate</a></h1>
                    <div class="postcard__subtitle small"></div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        Los animales son llevados al veterinario que es Ricardo Muños del centro veterinario San Agustina para su chequeo, respectivas vacunas y esterilizaciones ya sea machos o hembras, los ubicamos en 
                        hogares temporales y empezamos a difundir de acuerdo a las condiciones en que encontremos al animalito.
                    </div>
                </div>
            </article>
        </div>
    </div>
